<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link
      rel="shortcut icon"
      href="../images/logo2.png"
      type="./assets.//x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../stylesheets/cart.css">
</head>
<body>
    <div id="main">
        <div id="nav">
            <div id="nav-part1">
              <img src="../images/logo.png" alt="" />
            </div>
        </div>
        <div id="hero">
            <div id="product">
                <img src="../images/Burgers.png" alt="">      
            </div>
            <div id="product-info">
                <div id="product-name">
                    <h1>Burgers</h1>
                    <div id="reviews">
                        <h3 id="rating"><span>4.2</span> <i class="ri-star-fill"></i></h3>
                        <p id="review">235 ratings & 100 reviews</p>
                    </div>
                </div>
                <div id="product-price">
                    <p>extra ₹20 off</p>
                    <h1> ₹180<span id="cutted"> ₹200</span></h1>
                </div>
                <div id="description">
                    <h1>product description</h1>
                    <p>ntroducing our mouthwatering burgers, crafted to perfection for the ultimate satisfaction. Sink your teeth into juicy, flame-grilled patties nestled between soft, toasted buns, layered with crisp lettuce, ripe tomatoes, and tangy pickles, all smothered in our signature sauce. Whether you crave classic simplicity or bold flavors, our burgers promise a culinary adventure with every bite. Join us and experience burger bliss like never before.</p>
                </div>
                <div id="buttons">
                    <h4><a href="#">Add to cart</a></h4>
                    <h4><a id="buynow" href="#">Buy now</a></h4>
                </div>
            </div>
        </div>
        
    </div>

    <script src="../javascripts/cart.js"></script>
</body>
</html>